{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock head %}
{% block content %}

<div class="page-header">
    {% if object %}
        <h1>Edit {{ object.model }}</h1>
    {% else %}
        <h1>Add Gear</h1>
    {% endif %}
    {% if gear.type == 'G' %}
        <img 
        src="{% static 'images/icons8-electric-guitar-96.png' %}"
        alt="An electric guitar"
        />
    {% elif gear.type == 'B' %}
        <img 
        src="{% static 'images/icons8-bass-guitar-96.png' %}"
        alt="A bass guitar"
        />
    {% elif gear.type == 'P' %}
        <img 
        src="{% static 'images/icons8-drum-kit-96.png' %}"
        alt="A drum kit"
        />
    {% elif gear.type == 'A' %}
        <img 
        src="{% static 'images/icons8-amplifier-96.png' %}"
        alt="An amplifier"
        />
    {% else %}
        <img 
        src="{% static 'images/icons8-band-96.png' %}"
        alt="A microphone, guitar and bass headstock, and drum sticks"
        />
    {% endif %}
</div>

<form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock content %}
