{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/gears/gear-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Gear Vault</h1>
  <img src="{% static 'images/icons8-mic-96.png' %}" alt="A microphone" />
  <img src="{% static 'images/icons8-electric-guitar-96.png' %}" alt="An electric guitar" />
  <img src="{% static 'images/icons8-bass-guitar-96.png' %}" alt="An electric bass guitar" />
  <img src="{% static 'images/icons8-drum-kit-96.png' %}" alt="A drum kit" />
</section>

<section class="card-container">
  {% for gear in gears %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
            {% if gear.type == 'G' %}
                <img 
                src="{% static 'images/icons8-electric-guitar-96.png' %}"
                alt="An electric guitar"
                />
            {% elif gear.type == 'B' %}
                <img 
                src="{% static 'images/icons8-bass-guitar-96.png' %}"
                alt="A bass guitar"
                />
            {% elif gear.type == 'P' %}
                <img 
                src="{% static 'images/icons8-drum-kit-96.png' %}"
                alt="A drum kit"
                />
            {% else %}
                <img 
                src="{% static 'images/icons8-band-96.png' %}"
                alt="A microphone, guitar and bass headstock, and drum sticks"
                />
          {% endif %}
        </div>
        <h2 class="card-title">{{ gear.model }}</h2>
        <p>Make: {{ gear.make }}</p>
        <p><small>{{ gear.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}